<!-- This is base template to create all our to do list  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>It's a <%= kindofDay %> </h1>                       <!-- will add marker that will tell file that here you need to place particular variable, and replace the variable with it's value when the page is rendered-->
</body>
</html>